@font-face {
  font-family: aileron;
  src: url(fonts/Aileron-Regular.otf);
}

@font-face {
  font-family: aileron_bold;
  src: url(fonts/Aileron-Bold.otf);
}

@font-face {
  font-family: aileron_semibold;
  src: url(fonts/Aileron-SemiBold.otf);
}

@font-face {
  font-family: newyork;
  src: url(fonts/newyork/NewYork\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: yeseva_one;
  src: url(fonts/yeseva_one/YesevaOne-Regular.ttf);
}

@font-face {
  font-family: cormorant_garamond;
  src: url(fonts/cormorant_garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: cormorant_garamond_bold;
  src: url(fonts/cormorant_garamond/CormorantGaramond-Bold.ttf);
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  .h1 {
    font-family: yeseva_one;
    color: white;
  }

  .aileron {
    font-family: aileron;
  }

  .aileron-bold {
    font-family: aileron_bold;
  }

  .aileron-semibold {
    font-family: aileron_semibold;
  }

  .yeseva_one {
    font-family: yeseva_one;
  }

  .newyork {
    font-family: newyork;
  }

  .cormorant_garamond {
    font-family: cormorant_garamond;
  }

  .cormorant_garamond_bold {
    font-family: cormorant_garamond_bold;
  }

  .title p {
    margin-bottom: 0;
  }

  .paragraph p {
    text-align: left;
  }

  .paragraph .cormorant_garamond {
    font-size: medium;
  }

  .btn-green button {
    background-color: #25D366;
    font-size: large;
  }

  .btn-green button:hover {
    background-color: #25D366;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .subheader h3 {
    font-size: medium;
    color: white;
  }

  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  /* @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  } */